body {
    background-image: url("1°imagens/imagem\ preta.png");
    background-repeat: no-repeat;
    background-size: cover;
}
p {
    color: #ffffff;
    font-weight: 900;
    font-size: 24px;
}
h1 {
    color: #b23535;
    font-weight: 900;
    font-size: 24px;
}
h3 {
    color: #b23535;
    font-weight: 900;
    font-size: 24px;
}
h2 {
    color: #b23535;
    font-weight: 900;
    font-size: 24px;
}
a {
    padding: 10px;
    background-color: #b23535;
    border-radius: 8px;
    color: #00fe77;
    font-size: 24px;
}
li {
    opacity: 50%;
}